* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum",
    sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
img {
  vertical-align: bottom;
}
addres {
  font-style: none;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 9999px;
}
body::-webkit-scrollbar-track {
  background: #666;
}

body > img {
  width: 100%;
}

h1 {
  font-weight: 100;
}

section.detail_header {
  overflow: hidden;
  width: 100%;
  height: 634px;
}
.h_img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
}

.go_to_index {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  top: 60px;
  right: 100px;
  cursor: pointer;
  z-index: 9999;
}
.go_to_index span {
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-bottom: 10px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0%;
  position: absolute;
}
.go_to_index span:nth-child(1) {
  transform: rotateZ(45deg);
}
.go_to_index span:nth-child(2) {
  transform: rotateZ(-45deg);
}

.header_left,
.header_right {
  float: left;
  width: 50%;
  position: relative;
  height: 100%;
}
.header_left > div {
  position: absolute;
  width: 55%;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(60%, 50%);
}
.header_left h1 {
  transform: translate(9%, -18%);
}
.header_bottom {
  transform: translate(9%, -20%);
}

.header_right > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  width: 60%;
}
.header_right p {
  color: #fff;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.header_right a {
  display: block;
  padding: 8px 40px;
  color: #fff;
  line-height: 1.5em;
  float: left;
  border: 1px solid #fff;
  margin-right: 10px;
  transition: 1s;
}
.header_right a:last-child {
  margin-right: 0;
}

.header_right a:hover {
  background: #fff;
  color: #333;
}
